@model FolderOrganisation.ViewModels.ModelViewFolder
@{
    ViewBag.Title = "ModelFolderList";
}
<h2>Folder List</h2>

<table class="table">
    <tr>
        <th>
            @Model.FullDirectory |
            <button id="create" onclick="hideOrShow(@Model.Id), renameBtn(id,'Create')">Create folder</button> 
            @if (Model.Parent != null)
            {@Html.ActionLink("Back", "FolderList", new { currentFolderId = Model.Parent }, new { @class = "btn btn-info" })}
            @Html.ActionLink("CMD structure", "CMD", new { currentFolderId = Model.Parent }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Change Root Directory", "ChangeRootDirectory", null, new { @class = "btn btn-primary" })
        </th>
    </tr>
    <tr>
        <th>
            @using (Html.BeginForm("Create", "Folder", FormMethod.Post, new { id = Model.Id, @hidden = true }))
            {
                @Html.TextBoxFor(m => m.Name, new { Value = "" })
                @Html.HiddenFor(m => m.Parent, new { Value = Model.Id })
                @Html.HiddenFor(m => m.Directory, new { Value = Model.FullDirectory })
                @Html.Hidden("currentFolderId", Model.Id)
                <input type="submit" />
            }
        </th>
    </tr>
    @foreach (var item in Model.sortedSubFolders)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Name, "FolderList", new { currentFolderId = item.Id }) 
            </td>
            <td>
                @using (Html.BeginForm("Edit", "Folder", FormMethod.Post, new { id = item.Id, @hidden = true }))
                {
                    @Html.TextBoxFor(m => m.Name, new { Value = "" })
                    @Html.HiddenFor(m => m.Parent, new { Value = Model.Id });
                    @Html.HiddenFor(m => m.Directory, new { Value = Model.FullDirectory });
                    @Html.HiddenFor(m => m.Id, new { Value = item.Id });
                    @Html.Hidden("currentFolderId", Model.Id);
                    <input type="submit" />
                }
            </td>
            <td>
                <button id="Edit + @item.Id" class="btn btn-info" onclick="hideOrShow(@item.Id), renameBtn(id,'Edit')">Edit</button>
                @Html.ActionLink(
                "Delete",
                "Delete",
                new { deleteFolderId = item.Id, currentFolderId = item.Parent },
                new { onclick = item.SubFoldersCount > 0 ? "return confirm('This folder contains subfolders. Delete anyway?');" : null, @class = "btn btn-info" })
            </td>
        </tr>
    }
</table>
<script>
    function hideOrShow(x) {
        document.getElementById(x).hidden = !document.getElementById(x).hidden;
    }
    function renameBtn(x, y) {
        if (document.getElementById(x).innerText == "Cancel") {
            document.getElementById(x).innerText = y;
        }
        else {
            document.getElementById(x).innerText = "Cancel";
        }
    }
</script>